:root {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px 15px;
    border-width: 2px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.sub-container{
    border-radius: 10px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    margin: 10px 0;
}

.leadershipBox {
    max-width: 520px;
}

.behavioursBox {
    max-width: 575px;
}

.stengthBox {
   max-width: 340px; 
}

.LiABox {
    max-width: 400px;
}

.container-header {
    color: white;
    background-color: black;
    
    padding: 5px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
h3 {
    margin: 0;
}

.brown {
    background-color: #603126;
    border-color:#603126;
}

.aqua {
    background-color: #63a1d6;
    border-color:#63a1d6;
}

.green {
    background-color: #3fb64a;
    border-color:#3fb64a;
}

.purple {
    background-color: #682879;
    border-color:#682879;
}

.yellow {
    background-color: #f7a72e;
    border-color:#f7a72e;
}

.grey {
    background-color: #444d52;
    border-color: #444d52;
}

.pink {
    background-color: #f59bb0;
    border-color: #f59bb0;
}

.blue {
    background-color: #0f3490;
    border-color: #0f3490;
}

.orange {
    background-color: #dd5720;
    border-color: #dd5720;
}

.red {
    background-color: #bd2b27;
    border-color: #bd2b27;
}

ul {
    margin: 10px;
}

.boxcontent {
    margin: 10px;
}

p {
    margin: 0;
}

.header {
    background-color: black;
    color: white;
    padding: 8px;
}

.header h1 {
    margin: 0;
}

body {
    margin: 0;
}

.select-css {
    display: inline;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    min-width: 150px;;
    max-width: 100%; /* useful when width is set to anything other than 100% */
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    max-width: min-content;
}

/* Colors for Leadership in Action */

.LiA-Yellow {
    background-color: #eaa91f;
    border-color: #eaa91f;
}

.LiA-Green {
    background-color: #31b049;
    border-color: #31b049;
}

.LiA-Blue {
    background-color: #253d8c;
    border-color: #253d8c;
}

.LiA-Purple {
    background-color: #772a76;
    border-color: #772a76;
}

.LiA-Red {
    background-color: #af272f;
    border-color: #af272f;
}

.LiA-Aqua {
    background-color: #6f99d0;
    border-color: #6f99d0;
}

.LiA-Pink {
    background-color: #ed9aaa;
    border-color: #ed9aaa;
}

.LiA-Orange {
    background-color: #cd5d29;
    border-color: #cd5d29;
}


@media  screen and (max-width: 1000px) {
    .leadershipBox {
        max-width: 400px;
    }
    .behavioursBox {
        max-width: 425px;
    }
    .stengthBox {
        max-width: 280px;
    }
}

/* accodion code */

.accordion {
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    font-family: "Quicksand", sans-serif;
    background: #009578;
  }
  
  .accordion__label {
    padding: 14px 20px;
  }
  
  .accordion__label {
    display: block;
    cursor: pointer;
    position: relative;
    transition: background 0.1s;
  }
  
  .accordion__label:hover {
    background: grey;
  }
  
  .accordion__label::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    width: 12px;
    height: 6px;
    background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%23FFFFFF99;" /></svg>');
    background-size: contain;
    transition: transform 0.4s;
  }
  
  .accordion__content {
    
    display: none;
  }
  
  .accordion__input {
    display: none;
  }
  
  .accordion__input:checked ~ .accordion__content {
    display: block;
  }
  
  .accordion__input:checked ~ .accordion__label::after {
    transform: translateY(-50%) rotate(0.5turn);
  }
  